@font-face {
font-family: 'Proxima Nova-Regularit-bpYkkIFW';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/80e2bf8f-844b-4503-a1e0-05fee5e2537b/proximanova-regularit.woff') format('woff');
}