@font-face {
font-family: 'Proxima Nova Light-Nor-fr3dScuk';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/71d9cac7-cb39-406e-9d22-814f10c43959/proximanova-light.woff') format('woff');
}