@font-face {
font-family: 'Proxima Nova-Regular-b4c93h6x';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/8e0e698d-5092-41a6-aaab-77d8e327244d/proximanova-regular.woff') format('woff');
}