@font-face {
font-family: 'Proxima Nova Black-Nor-9HyJhI29';
font-style: normal; 
font-weight: 400; 
unicode-range: ;
src: url('../../fonts/665247e8-59bd-450c-9f05-048f6ca1ab3d/proximanova-black.woff') format('woff');
}